[[source]]
#url = "https://pypi.org/simple"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
# verify_ssl = false
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
pylev = "*"
scikit-learn = "*"
xlrd = "*"
xlsxwriter = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.7"
